body{
    background-color: #f2e5f2;
}

.ui.vertical.segment{
    padding: 0;
    background-color: white;
    border: 0;
    margin-bottom: 20px;

}

.ui.secondary.pointing.menu {
    border: 0;
}

.DateRangePicker__CalendarSelection{
    background-color: rgb(128, 0, 128) !important;
    border-color: rgb(128, 0, 128) !important
    ;
}

.DateRangePicker__CalendarHighlight--single, .DateRangePicker__CalendarSelection--is-pending{
    border-color: rgb(128, 0, 128) !important
}